---
date: 2017-05-22
title: "Genetic Testing Results"
num: 1840
alt: >-
  That's very exciting! The bad news is that it's a risk factor for a lot of things.
img: https://imgs.xkcd.com/comics/genetic_testing_results.png
---
[Cueball is seated on an medical examination table while Ponytail stands dressed in a doctor's coat holding a file in her right hand.]

Ponytail: Your genetic test results are back. Apparently you're part of an unbroken lineage stretching back billions of years to the early Earth!