---
date: 2017-11-10
title: "Twitter Verification"
num: 1914
alt: >-
  When we started distributing special status tokens that signify which people are important enough to join an elite group, we never could have imagined we might be creating some problems down the line.
img: https://imgs.xkcd.com/comics/twitter_verification.png
---
[A bearded figure, depicting the Twitter CEO Jack Dorsey, is standing behind a podium with the blue Twitter bird logo.]

Jack: Everyone calm down—

Jack: We just need to go figure out how to bestow a global in-or-out status badge on some people, at our discretion, without anyone reading anything into who gets one.

Jack: This should only take a moment.