---
date: 2021-12-22
title: "Rapid Test Results"
num: 2558
alt: >-
  A solid red area with two white lines means that you have been infected with the anti-coronavirus, COVID+19, which will cure anyone you have close contact with.
img: https://imgs.xkcd.com/comics/rapid_test_results.png
---
[Header above the comic:]

Interpreting Rapid Test Results

[What follows is a set of 8 possible rapid test results for COVID-19.]

[One line on the "C".]

Negative

[Two lines, one on the "C" and one on the "T".]

Positive

[Two curvy lines on the "C" and the "T", resembling the "approximately equal" sign.]

Approximately positive

[Two lines, not on the "C" or the "T", but they are instead closer together.]

Positive (college ruled)

[Five lines resembling a cell signal symbol.]

Good cell signal

[Two straight lines, on the "C" and "T", with lines going outward from the centre, giving an illusion of the lines being curved.]

Did you know these lines are actually parallel?

[One line on the "C", and two lines in a cross with one line sticking upward of the center of the cross.]

The Blair Witch is near

[Three lines, with one on the "C", one on the "T", and one in the middle of the "C" and "T".]

Click to expand Covid menu